body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.quiz-bg {
    min-height: 100vh;
    background: #f3f1ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 360px;
    background: white;
    padding: 25px;
    border-radius: 20px;
}

.center {
    text-align: center;
}

.progress-bar {
    height: 6px;
    background: #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
}

.progress-bar div {
    height: 6px;
    background: #6366f1;
    width: 0%;
}

.question-card {
    background: #f7f5ff;
    padding: 20px;
    border-radius: 14px;
}

.option {
    background: white;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.option.selected {
    border: 2px solid #6366f1;
}

.next-btn {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    background: #2b1bbf;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}
